 body { font-size:14pt;
	font-family: Helvetica, Geneva, Arial, sans-serif;
	color: white } 

 h1 { 	font-size:24px;
	font-family: Helvetica, Geneva, Arial, sans-serif;
	color: rgb(51, 204, 255) } 

 ul {	list-style-type: circle;}